.works{
    display: flex;
    height:90vh;
    padding:0 3rem;
}
.works .w-right{
    position: relative;
}
.works .w-right .w-mainCircle{
    position: relative;
    left: 9rem;
    top:2rem;
    width:18rem;
    height:18rem;
    border-radius:100%;
    box-shadow:var(--smboxShadow);
    background-color:#fff;
}
.works .w-right .w-mainCircle>*{
    position: absolute;
}
.w-mainCircle > :nth-child(1){
    top:-3rem;
    left: 6rem;
}
.w-mainCircle > :nth-child(2){
    top:5rem;
    left:-3rem;
}
.w-mainCircle > :nth-child(3){
    top:5rem;
    left:6rem;
}
.w-mainCircle > :nth-child(4){
    top:5rem;
    left: 15rem;
}
.w-mainCircle > :nth-child(5){
    top:13rem;
    left: 6rem;
}
.w-secCircle{
    position: absolute;
    width:6rem;
    height:6rem;
    border-radius:100%;
    background:#fff;
    border: 5px solid #ebebeb;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow:var(--smboxShadow);
}
.w-secCircle>img{
    transform:scale(0.6);
}
.w-backCircle{
    position: absolute;
    width:14rem;
    height:14rem;
    border-radius:100%;
    z-index: -1;
}

.blueCircle{
    background-color:#194988;
    top:0;
    left:16.2rem;
}
.yellowCircle{
    background-color:#F5c32c ;
    top:8rem;
    left:16.2rem;
}